// .btn {
//   position: relative;
// }

.navbar-form.navbar-search {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-inverse {
  &.nav-edit {
    background-color: $brand-info;
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
    background-color: darken($brand-info, 7%);
    }
  }
}
.excerpt-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fill-1 {
  background-color: $book-bg;
  min-height: 200px;
}

.fill-2 {
  background-color: $audio-bg;
  min-height: 200px;

}

.fill-3 {
  background-color: $video-bg;
  min-height: 200px;
}

.material-icons {
  &.md-inline {
    font-size: 1.1em;
    line-height: inherit;
    vertical-align: middle;
  }
  &.md-18 {font-size: 18px;}
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-dark {
    color: rgba(0, 0, 0, 0.54);
    &.md-inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }
  &.md-light {
    color: rgba(255, 255, 255, 1);
    &.md-inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}



.ink {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-o-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

// card depth http://codepen.io/HugoGiraudel/pen/qBgoh
// Card
.card {
  display: block;
  color: $text-color;
  text-decoration: none; // for a.card
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform-style: preserve-3d;
  transition: all 0.4s ease;
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    transform: scale(1.03);
  }
  .card-image{
      overflow: hidden;
      transform-style: preserve-3d;
      height: 150px;
      background-color: $gray-light;
      img,
      .empty {
          transition: all 0.8s ease-out;
      }
      &:hover img,
      .empty i {
          transform: scale(1.1) rotate(-1deg);
      }
      .empty {
        color: #fff;
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.8s ease-in-out;
        & i {
          display: table-cell;
          vertical-align: middle;
          font-size: 48px;
        }
        &.book {
          background-color: $book-bg;
          border-color: lighten($book-bg, 5%);
          &:hover {
            background-color: darken($book-bg, 5%);
          }
        }
        &.audio {
          background-color: $audio-bg;
          border-color: lighten($audio-bg, 5%);
          &:hover {
            background-color: darken($audio-bg, 5%);
          }
        }
        &.video {
          background-color: $video-bg;
          border-color: lighten($video-bg, 5%);
          &:hover {
            background-color: darken($video-bg, 5%);
          }
        }
      }
  }
  .card-content {
      padding: 10px;
      .card-title, .card-reveal .card-title {
          font-size: 24px;
          font-weight: 200;
    }
  }
  .card-action{
      padding: 20px;
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      i {
        font-size: 18px;
        vertical-align: middle;
      }
      a {
        font-size: 15px;
        color: #ffab40;
        text-transform:uppercase;
        margin-right: 20px;
        transition: color 0.3s ease;
      &:hover{
          color:#ffd8a6;
          text-decoration:none;
      }
    }
  }
  .card-reveal{
      padding: 20px;
      position: absolute;
      background-color: #FFF;
      width: 100%;
      overflow-y: auto;
      /*top: 0;*/
      left:0;
      bottom:0;
      height: 100%;
      z-index: 1;
      display: none;
      p {
        color: rgba(0, 0, 0, 0.71);
        margin:20px ;
    }
  }
}
