<div class="col-ms-6 col-sm-6 col-md-4 col-lg-3">
  <a href="single.html"class="card">
    <div class="card-image">
      <div class="audio empty">
        <i class="material-icons">&#xE030;</i>
      </div>
    </div>
    <div class="card-content">
        <h6 class="card-title excerpt-1">Bioloogia õpik 8. klassile, I osa</h6>
        <p class="excerpt-1">Külli Relve, Helle Järvalt, Aiki Jõgeva, Merike Kilk, Mare Toom, Edith Maasik, Ene Lehtmets, Ana Valdmann, Anu Parts, Mari Uudelt</p>
    </div>
    <div class="card-action text-center">
        <span class="pull-left" data-toggle="tooltip" title="Lisatud"> 23.04.2015</span>
        <span data-toggle="tooltip" title="Video"><i class="material-icons md-18">&#xE04A;</i></span>
        <span data-toggle="tooltip" title="Raamat"><i class="material-icons md-18">&#xE02F;</i></span>
        <span data-toggle="tooltip" title="Audio"><i class="material-icons md-18">&#xE030;</i></span>
        <span class="pull-right" data-toggle="tooltip" title="Vaadatud"><i class="material-icons md-inline">&#xE8F4;</i> 23</span>
    </div>
  </a>
</div>
<div class="col-ms-6 col-sm-6 col-md-4 col-lg-3">
  <a href="single.html"class="card">
    <div class="card-image">
      <div class="video empty">
        <i class="material-icons">&#xE04A;</i>
      </div>
    </div>
    <div class="card-content">
        <h6 class="card-title excerpt-1">Bioloogia õpik 8. klassile, I osa</h6>
        <p class="excerpt-1">Külli Relve, Helle Järvalt, Aiki Jõgeva, Merike Kilk, Mare Toom, Edith Maasik, Ene Lehtmets, Ana Valdmann, Anu Parts, Mari Uudelt</p>
    </div>
    <div class="card-action text-center">
        <span class="pull-left" data-toggle="tooltip" title="Lisatud"> 23.04.2015</span>
        <span data-toggle="tooltip" title="Video"><i class="material-icons md-18">&#xE04A;</i></span>
        <span data-toggle="tooltip" title="Raamat"><i class="material-icons md-18">&#xE02F;</i></span>
        <span data-toggle="tooltip" title="Audio"><i class="material-icons md-18">&#xE030;</i></span>
        <span class="pull-right" data-toggle="tooltip" title="Vaadatud"><i class="material-icons md-inline">&#xE8F4;</i> 23</span>
    </div>
  </a>
</div>
<div class="col-ms-6 col-sm-6 col-md-4 col-lg-3">
  <a href="single.html"class="card">
    <div class="card-image">
      <div class="book empty">
        <i class="material-icons">&#xE02F;</i>
      </div>
    </div>
    <div class="card-content">
        <h6 class="card-title excerpt-1">Bioloogia õpik 8. klassile, I osa</h6>
        <p class="excerpt-1">Külli Relve, Helle Järvalt, Aiki Jõgeva, Merike Kilk, Mare Toom, Edith Maasik, Ene Lehtmets, Ana Valdmann, Anu Parts, Mari Uudelt</p>
    </div>
    <div class="card-action text-center">
        <span class="pull-left" data-toggle="tooltip" title="Lisatud"> 23.04.2015</span>
        <span data-toggle="tooltip" title="Video"><i class="material-icons md-18">&#xE04A;</i></span>
        <span data-toggle="tooltip" title="Raamat"><i class="material-icons md-18">&#xE02F;</i></span>
        <span data-toggle="tooltip" title="Audio"><i class="material-icons md-18">&#xE030;</i></span>
        <span class="pull-right" data-toggle="tooltip" title="Vaadatud"><i class="material-icons md-inline">&#xE8F4;</i> 23</span>
    </div>
  </a>
</div>
