<div class="row">
  <div class="col-sm-9 fill-1">

  </div>
  <div class="col-sm-3 fill-2">

  </div>
  <div class="col-sm-12 fill-3">

  </div>
  <div class="col-sm-12">
    <form class="form-inline" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-link"><i class="material-icons md-inline md-24">&#xE8B6;</i></button>
    </form>
  </div>
  <div class="col-sm-12">
    {{>components/_cards-noimage}}
  </div>
</div>
