<div class="row">
  <div class="col-ms-9 col-sm-9 fill-1">

  </div>
  <div class="col-ms-3 col-sm-3 fill-2">

  </div>
  <div class="col-ms-12 col-sm-12 fill-3">

  </div>
  <div class="col-sm-12">
    <form class="form-inline" role="search">
      <div class="form-group">
        <label for="">Otsi materjale sellesse kogumikku</label>
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-link"><i class="material-icons md-inline md-24">&#xE8B6;</i></button>
    </form>
  </div>
  <div class="col-ms-6 col-sm-6 col-md-3 col-xl-2">
    {{>components/_card-single}}
  </div>
  <div class="col-ms-6 col-sm-6 col-md-3 col-xl-2">
    {{>components/_card-single}}
  </div>
  <div class="col-ms-6 col-sm-6 col-md-3 col-xl-2">
    {{>components/_card-single}}
  </div>
  <div class="col-ms-6 col-sm-6 col-md-3 col-xl-2">
    {{>components/_card-single}}
  </div>
</div>
